<div class="page_add-vehicle"> 

    <% if (title) { %>
        <h1><%- title %></h1>
        <% } else {
          res.redirect('/')
        } %>
        
        <% messages() %>

        <% if (errors) { %>
          <ul class="notice">
         <% errors.array().forEach(error => { %>
           <li><%= error.msg %></li>
        <%  }) %>
         </ul>
        <% } %>
        
        <div class="div_add-inventory">
        <form class="add-inventory_form" action="/inv/add-inventory" method="post">
          <label for="classificationList">Classification:</label>
          <br>
          <%- classificationList %>
          <!-- inv_make, inv_model, inv_year, inv_description, inv_image, inv_thumbnail, inv_price, inv_miles, inv_color, classification_id       -->
          <br>
          <label for="make_vehicle">Make</label>
          <br>
          <input type="text" placeholder="Min of 3 characters" name="inv_make" id="make_vehicle" minlength="3" required value="<%= locals.inv_make %>">
          <br>
          <br>
          <label for="model_vehicle">Model</label>
          <br>
          <input type="text" placeholder="Min of 3 characters" name="inv_model" id="model_vehicle" minlength="3" required value="<%= locals.inv_model %>">
          <br>
          <!-- inv_year, inv_description, inv_image, inv_thumbnail, inv_price, inv_miles, inv_color, classification_id       -->
          <label for="year_vehicle">Year</label>
          <br>
          <input type="text" placeholder="4 digits" name="inv_year" id="year_vehicle" pattern="\d{4}" required value="<%= locals.inv_year %>">
          <br>
          <!-- inv_description, inv_image, inv_thumbnail, inv_price, inv_miles, inv_color, classification_id       -->
          <label for="description_vehicle">Description</label>
          <br>
          <textarea name="inv_description" rows="3" id="description_vehicle" required value="<%= locals.inv_description %>"> </textarea>
          <br>
          <!-- inv_image, inv_thumbnail, inv_price, inv_miles, inv_color, classification_id       -->
          <label for="image_vehicle">Image</label>
          <br>
          <input type="text" placeholder="images/vehicle/no-image.png" name="inv_image" id="image_vehicle" required value="<%= locals.inv_image %>">
          <br>
          <!-- inv_thumbnail, inv_price, inv_miles, inv_color, classification_id       -->
          <label for="thumbnail_vehicle">Thumbnail</label>
          <br>
          <input type="text" placeholder="images/vehicle/no-image.png" name="inv_thumbnail" id="thumbnail_vehicle" required value="<%= locals.inv_thumbnail %>">
          <br>
          <!-- inv_price, inv_miles, inv_color, classification_id       -->
          <label for="price_vehicle">Price</label>
          <br>
          <input type="number" placeholder="decimal or integer" step="0.01" name="inv_price" id="price_vehicle" required value="<%= locals.inv_price %>">
          <br>
          <!-- inv_miles, inv_color, classification_id       -->
          <label for="miles_vehicle">Miles</label>
          <br>
          <input type="number" placeholder="digits only" name="inv_miles" id="miles_vehicle" required value="<%= locals.inv_miles %>">
          <br>
          <!-- inv_color, classification_id -->
          <label for="color_vehicle">Colors</label>
          <br>
          <input type="text" name="inv_color" id="color_vehicle" required value="<%= locals.inv_color %>">
          <br>
          <div class= "submit_form" >
            <input type="submit" value="Add new vehicle" />
          </div>
        </form>
           
            
          </div>
          <br>
    </div>
    
    
    